/* Start Base Styles */
html {
    font-size: 100%;

  }
  
  
  :root {
    /* Colors */
    --clr-primary: hsl(235, 81%, 60%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-black: hsl(0, 0%, 0%);
    --clr-red: hsl(355, 100%, 60%); 
    --clr-gray: hsl(0deg 0% 35%); 
    --clr-saffron: hsl(43, 93%, 64%);
    --clr-turquoise: hsl(161, 86%, 56%);
    --clr-lightBlue: hsl(234, 73%, 90%);
    --clr-lightRead: hsl(350, 75%, 89%); 
    --clr-lightSaffron: hsl(52, 56%, 92%);
    --clr-lightTurquoise: hsl(167, 67%, 88%);
    --clr-lightGray: hsl(0deg 0% 44%);
    --clr-body: hsl(230, 43%, 97%);
    --clr-hero: hsl(222, 68%, 95%);
    --clr-overlay: hsla(0, 0%, 0%, 0.5);
    --clr-scrollbarThumb: hsl(234, 100%, 80%);
    --clr-social-icon: hsl(210, 25%, 98%);
    --clr-dribbble: hsl(330, 80%, 67%);
    --clr-facebook: hsl(220, 46%, 48%);
    --clr-twitter: hsl(203, 89%, 53%);
    --clr-youtube: hsl(0, 100%, 50%);
    --clr-ethblue: hsla(221, 88%, 74%, 0.603);
    --clr-ethpurple: 	hsla(262, 95%, 84%, 0.603);
    --clr-ethlblue: 	hsla(176, 91%, 82%, 0.603);

    


  
    /* Font */
    --ff: 'Rubik', sans-serif;
    /* Font size */
    --fs-biggest: 4.375rem;
    --fs-bigger : 3rem;
    --fs-big    : 1.5rem;
    --fs-bold   : 1.25rem;
    --fs-medium : 1.125rem;
    --fs-normal : 1rem;
    /* Font weight */
    --fw-black   : 900;
    --fw-bold    : 700;
    --fw-semiBold: 600; 
    --fw-medium  : 500;
    --fw-regular : 400;
    
    /* Header height (mobile & desktop) */
    --header-height-m: 4rem;
    --header-height-d: 8rem;
  
    /* Scrollbar */
    --scrollbar-width: 0.4375rem;
  
    /* Z-index */
    --z-fixed: 100;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scrollbar-width: var(--scrollbar-width);
    scrollbar-color: var(--clr-scrollbarThumb) var(--clr-white);
  }
  
  body {
    font-family: var(--ff);
    font-size: var(--fs-normal);
    background-color: var(--clr-body);
    color: var(--clr-black);
  }
  
  main > section {
    padding-top: clamp(2rem, 10vw, 5rem);
    padding-bottom: clamp(2rem, 10vw, 5rem);
  }
  
  h1, h2, h3 {
    font-weight: var(--fw-bold);
  }
  
  p {
    font-size: var(--fs-medium);
    font-weight: var(--fw-regular);
    line-height: 1.5625rem;
  }
  
  ul {
    list-style: none;
  }
  
  a, a:hover, a:focus, a:active {
    text-decoration: none;
  }
  
  button {
    border: none;
  }
  
  /* Scrollbar styles */
  ::-webkit-scrollbar {
    width: var(--scrollbar-width);
  }
  
  ::-webkit-scrollbar-track {
    background-color: var(--clr-white);
    border-radius: 0.625rem;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 0.625rem;
    background-color: var(--clr-scrollbarThumb);
  }
  
  /* Selection */
  ::selection {
    color: var(--clr-white);
    background-color: var(--clr-primary);
  }
  
  /* Focus */
  :focus,
  :focus-visible {
    outline: 0.125rem solid var(--clr-black);
    outline-offset: 0.125rem;
  }
  
  :focus:not(:focus-visible) {
    outline: none;
  }
  
  :active {
    outline: none;
  }
  
  /* container */
  .container {
    max-width: 71.25rem;
    margin: auto;
  }
  
  .container--px {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  /* Screen reader only (: */
  .visually-hidden {
    position: absolute;
    left: -100vw;
    width: 0.0625rem;
    height: 0.0625rem;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .flex {
    display: flex;
  }
  
  /* hide Scrollbar */
  @media screen and (max-width: 40em){
    .scroll-hide {
      overflow: hidden;
    }
  }
  
  /* Call to action */
  a.cta, .cta {
    font-size: 1rem;
    font-weight: var(--fw-bold);
    border: 0.15rem solid transparent;
    transition: all 300ms ease-in-out;
  }
  
  /* Cta primary */
  a.cta--primary, .cta--primary {
    display: inline-block;
    background-color: var(--clr-primary);
    color: var(--clr-white);
    padding: 1rem 1.75rem;
    position: relative;
    top: 30px;
    border-radius: 0.1875rem;
    
  }
  
  a.cta--primary:hover,
  .cta--primary:hover {
   
    background-color: var(--clr-ethpurple);
    color: var(--clr-primary);
    border-color: currentColor;
  }
  
  /* Cta button */
  .cta--btn {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: transparent;
    color: var(--clr-gray);
    border: 0.125rem solid transparent;
    border-color: inherit;
    border-radius: 0.3125rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }
  
  .cta--btn:hover {
    background-color: currentColor;
  }
  
  .cta--btn_yellow {
    color: var(--clr-primary);
  }
  
  .cta--btn_gray {
    color: var(--clr-gray);
  }
  
  .cta--btn_active { /* Active button */
    background-color: var(--clr-saffron);
    color: var(--clr-white);
    border-color: transparent;
  }
  
  .cta--btn_active:hover {
    background-color: transparent;
    color: var(--clr-saffron);
    border-color: currentColor;
  }
  
  .cta--btn-icon {
    width: 0.875rem;
    height: 0.6875rem;
    stroke: currentColor;
    transition: stroke 300ms ease-in-out;
  }
  
  .cta--btn:hover:not(.cta--btn_active) .cta--btn-icon {
    stroke: var(--clr-white);
  }
  
  /* Cta link */
  .cta--link {
    position: relative;
    display: flex;
    align-items: center;
    width: max-content;
    font-size: var(--fs-medium);
    font-weight: var(--fw-bold);
    color: var(--clr-primary);
    padding: 0.3rem 0.5rem;
    margin: auto;
    margin-top: 4rem;
    transition: color 300ms ease-in-out;
    background-color: transparent;
  }
  
  .cta--link:hover {
    color: var(--clr-black);
  }
  
  .cta--link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 0;
    height: 100%;
    background-color: var(--clr-scrollbarThumb);
    transition: width 300ms ease-in-out;
  }
  
  .cta--link:hover::before {
    width: 100%;
  }
  
  .cta--link-icon {
    width: 1.0625rem;
    height: 0.875rem;
    margin-left: 0.5rem;
    stroke: currentColor;
  }
  
  /* Primary subtitle*/
  .subtitle-primary {
    font-size: clamp(var(--fs-medium), 2vw + 0.5rem, var(--fs-bold));
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: var(--clr-primary);
    margin-bottom: clamp(0.5rem, 2vw + 0.5rem, 1.5rem);
  }
  
  /* Primary title */
  .title-primary {
    font-size: clamp(var(--fs-big), 4vw + 0.5rem, var(--fs-bigger));
    font-weight: var(--fw-bold);
    margin-bottom: clamp(1rem, 3vw + 0.5rem, 3rem);
  }
  
  /* Disabled */
  .disabled {
    visibility: hidden;
    opacity: 0;
  }
  /* End Base Styles */
  
  /* Header */
  .header {
    position: fixed;
    z-index: var(--z-fixed);
    width: 100%;
    height: var(--header-height-m);
    transition: all 300ms ease-in-out;
    background-color: var(--clr-white);
  }
  
  @media screen and (min-width: 40em) {
    .header {
      height: var(--header-height-d);
      background-color: transparent;
    }
  }
  
  /* Header active */
  .header--active {
    transition-duration: 0ms;
    background-color: var(--clr-white);
  }
  
  /* Header container */
  .header__container {
    height: 100%;
    background-color: inherit;
  }
  
  /* Navbar */
  .navbar {
    position: relative;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
  }
  
  /* Brand */
  .navbar__brand {
    font-size: clamp(var(--fs-big), 4vw + 0.5rem, 2rem);
    font-weight: var(--fw-black);
    color: var(--clr-black);
  }
  
  /* Toggle menu button */
  .navbar__toggle-menu {
    background-color: transparent;
    cursor: pointer;
  }
  
  @media screen and (min-width: 40em) {
    .navbar__toggle-menu {
      display: none;
    }
  }
  
  /* Hamburger */
  .toggle-menu__hamburger {
    position: relative;
    width: 2.2rem;
    padding: 0.1rem;
  }
  
  .hamburger__item {
    width: 100%;
    height: 0.25rem;
    background-color: var(--clr-black);
    border-radius: 1rem;
    transition: width 500ms ease-in-out;
  }
  
  .hamburger__item:not(:last-child) {
    margin-bottom: 0.31rem;
  }

 
  
  /* Hamburger animation */
  .toggle-menu--active .hamburger__item:first-child {
    width: 70%;
  }
  
  .toggle-menu--active .hamburger__item:nth-child(2) {
    width: 90%;
  }
  
  .toggle-menu--active .hamburger__item:last-child {
    width: 55%;
  }
  
  /* Menu */
  @media screen and (max-width: 39.9375em) { /* 639px */
    .navbar__menu {
      position: fixed;
      top: -100%;
      left: 0;
      z-index: -1;
      width: 100%;
      background-color: var(--clr-white);
      text-align: center;
      padding: 2rem 0;
      visibility: hidden;
      transition: all 500ms ease-in-out;
    }
  
    /* Menu open */
    .navbar__menu--open {
      visibility: visible;
      top: var(--header-height-m);
    }
  }
  
  .menu__item:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  
  @media screen and (min-width: 40em) {
    .menu__item {
      display: inline-block;
    }
  
    .menu__item:not(:last-child) {
      margin: 0 0.6rem;
    }
  }
  
  .menu__link {
    position: relative;
    font-weight: var(--fw-medium);
    color: var(--clr-black);
    padding: 0 0.3rem;
    transition: opacity 300ms ease-in-out;
  }
  
  .menu__link:not(.cta)::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.4rem;
    width: 0;
    height: 0.25rem;
    border-radius: 1rem;
    background-color: var(--clr-primary);
    transition: width 300ms ease-in-out;
  }
  
  /* Hover effect */
  .menu__link:hover {
    opacity: 0.8;
  }
  .menu__link:hover::before {
    width: 100%;
  }
  
  /* Active link */
  .menu__link--active {
    font-weight: var(--fw-bold)
  }
  
  .menu__link--active::before {
    width: 100%;
  }
  
  /* Overlay */
  .header__overlay {
    position: fixed;
    inset: 0;
    z-index: -10000;
    background-color: var(--clr-overlay);
    visibility: hidden;
    opacity: 0;
    transition: all 500ms ease-in-out;
  }
  
  @media screen and (max-width: 40em) {
    .header__overlay--open {
      visibility: visible;
      opacity: 1;
    }
  }
  
  /* Main */
  .main {
    position: relative;
    padding-top: var(--header-height-m);
  }
  
  @media screen and (min-width: 40em){
    .main {
      padding-top: var(--header-height-d);
    }
  }
  
  /* Hero section */
  .hero {
    position: relative;
    height: calc(100vh - var(--header-height-m));
    background-color: var(--clr-hero);
  }
  
  @media screen and (min-width: 40em) {
    .hero {
      height: calc(100vh - var(--header-height-d));
      background-color: transparent;
    }
  }
  
  /* Hero container */
  .hero__container {
    position: relative;
    top: 100px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }
  
  @media screen and (min-width: 40em) {
    .hero__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  }
  
  .hero__text {
    width: min(23.125rem, 100%);
  }

.rocketship{
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(340%,190%);
  width: 10%;
}

.odometer {
  font-size: 60px;
  margin: 200px 0;
  text-align: center;
  width: 100%;
  animation-duration: 3s;
}
  
  .hero__title {
      
    font-size: clamp(3rem, 6vw + 0.5rem, var(--fs-biggest));
    margin-bottom: 0.8rem;
  }
  
  .hero__title-underline {
    border-bottom: 0.25rem solid var(--clr-primary);
  }
  
  .hero__paragraph {
    margin-bottom: 1rem;
    text-align: justify;
    position: relative;
    top: 30px;
  }
  
  .hero__image-wrapper {
    display: none;
  }
  
  @media screen and (min-width: 40em) {
    .hero__image-wrapper {
      display: block;
    }
  }
  
  
  .hero__image {
    
    width: 70%;
  }


  @-webkit-keyframes bounce {
    0% {margin-top: 50px;}
    25% {margin-top: 25px;}
    75% {margin-top: 50px;}
    90% {margin-top: 30px;}
    100% {margin-top: 50px;}
  }
  
  .hero1__image {

    -webkit-animation: bounce 2s infinite;
     width: 70%;
  }

  .list-item{
    width: 70vw;
    height: inherit;
    background-color: #101010;
    padding: 20px;
    border-radius: 20px;
    

  }

  .item-content{
    color: white;
  }
  
  /* Partners Section */
  .partners {
    text-align: center;
  }
  
  .partners__title {
    font-size: clamp(var(--fs-medium), 2vw + 0.5rem, var(--fs-bold));
    font-weight: var(--fw-regular);
    color: var(--clr-gray);
    margin-bottom: clamp(1rem, 3vw + 0.5rem, 2.1875rem);
  }
  
  .partners__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(10rem, 100%), 1fr));
    gap: 1rem;
    align-items: center;
  }
  
  .partners__item {
    transition: none 300ms ease-in-out;
    transition-property: transform, opacity;
  }
  
  .partners__item:hover {
    transform: translateY(-0.1rem);
    opacity: 0.8;
  }
  
  .partner__img {
    width: 8.125rem;
    height: 3.125rem;
    object-fit: contain;
  }
  
  
  /* Features */
  /* .features {} */

  .features {
    position: relative;
    top: 100px;
    margin: 50px;
  }

  .tableism{
    width: 100%;
 
  }

 .tableism h1{
    font-size: 30px;
    color: black;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
  }
 .tableism table{
    width:100%;
    table-layout: fixed;
  }
  .tbl-header{
    background-color: rgba(105, 97, 219, 0.377);
    border-radius: 10px;
   }
  .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    background-color: rgba(105, 97, 219, 0.219);
    border-radius: 10px;
   
  }
 .tableism th{
    padding: 20px 15px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
  }
 .tableism td{
    padding: 15px;
    text-align: center;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: rgb(0, 0, 0);
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }
  
  

  /* Features container */
  .features__container {
    top: 50dp;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(30rem, 100%), 1fr));
    justify-content: center;
    gap: 2rem;
    
  }
  
  .features__text {
    max-width: 20.625rem;
  }
  
  .features__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14.5rem, 1fr));
    gap: 1rem;
  }
  
  .feature__icon-wrapper {
    width: 4.375rem;
    height: 4.375rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    margin-bottom: 1.5rem;
  }
  
  .feature__icon {
    width: 2.4375rem;
    height: 2.4375rem;
    fill: none;
  }
  
  .feature--1 .feature__icon-wrapper {
    background-color: var(--clr-lightBlue);
  }
  
  .feature--1 .feature__icon {
    stroke: var(--clr-primary);
  }
  
  .feature--2 .feature__icon-wrapper {
    background-color: var(--clr-lightRead);
  }
  
  .feature--2 .feature__icon {
    stroke: var(--clr-red);
    fill: var(--clr-red);
  }
  
  .feature--3 .feature__icon-wrapper {
    background-color: var(--clr-lightTurquoise);
  }
  
  .feature--3 .feature__icon {
    stroke: var(--clr-turquoise);
  }
  
  .feature--4 .feature__icon-wrapper {
    background-color: var(--clr-lightSaffron);
  }
  
  .feature--4 .feature__icon {
    stroke: var(--clr-saffron);
  }
  
  .feature__title {
    font-size: var(--fs-big);
    font-weight: var(--fw-medium);
    margin-bottom: 0.625rem;
  }
  
  .feature__paragraph {
    color: var(--clr-lightGray);
  }
  
  /*news slider*/

 
  
  
  /* Portfolio */
  .portfolio {
    text-align: center;
  }

  .pcontainer{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.pcontainer .card{
    position: relative;
    cursor: pointer;
    padding: 20px;
   
}

.pcontainer .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.pcontainer .card .face.face1{
    position: relative;
    background: #764db4 ;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    border-radius: 5px;
    overflow: var(--clr-overlay);
}

.pcontainer .card:hover .face.face1{
    background: blue;
    transform: translateY(0);
    border-radius: 5px;
}

.pcontainer .card .face.face1 .content{
    opacity: 1;
    transition: 0.5s;
}

.pcontainer .card:hover .face.face1 .content{
    opacity: 1;
}

.pcontainer .card .face.face1 .content img{
    max-width: 100px;
}

.pcontainer .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    border-radius: 5px;
}

.pcontainer .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
    transform: translateY(-100px);
    border-radius: 5px;
}

.pcontainer .card:hover .face.face2{
    transform: translateY(0);
}

.pcontainer .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.pcontainer .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;

    padding: 5px;
    border: 1px solid #333;
    border-radius: 5px;
}



.pcontainer .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;

    
}
  
  .portfolio__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(21.875rem, 100%), 1fr));
    justify-content: center;
    gap: 1.8rem;
  }
  
  .portfolio__card {
    position: relative;
    border-radius: 1.25rem;
  }
  
  .card__image {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    border-radius: inherit;
  }
  
  .card__content {
    margin-top: 1.5rem;
    text-align: left;
  }
  
  .card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .card__title {
    font-size: var(--fs-big);
  }
  
  .card__description {
    padding-right: 1rem;
    color: var(--clr-lightGray);
  }
  
  .portfolio__cta {
    margin-top: clamp(1rem, 5vw + 0.5rem, 3rem);
  }
  
  /* Testimonial */
  .testimonial1 {
    position: relative;
    top: 100px;
  }

  
  .testimonial::before {
    content: '';
    position: absolute;
    inset: 0;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.1;
    box-shadow: 0 11.25rem 3.75rem var(--clr-body) inset;
  }
  
  .testimonial__container {
    position: relative;
  }
  
  .testimonial__header {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
  
  .testimonial__text {
    margin-right: 1rem;
  }
  
  .testimonial__controls {
    gap: 0.3rem;
  }
  
  .testimonial__wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .testimonial__slider {
    width: 300%;
    gap: clamp(0.1rem, 2vw, 1rem);
    transition: all 500ms ease-in-out;
  }
  .testimonial__slider1 {
    width: 300%;
    gap: clamp(0.1rem, 2vw, 1rem);
    transition: all 500ms ease-in-out;
  }
  
  .testimonial__slide {
    position: relative;
    max-width: 28.75rem;
    background-color: var(--clr-white);
    border-radius: 0.625rem;
    padding: 1.8125rem 1.5rem;
  }
  
  .testimonial__slide-header {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1.1rem;
  }
  .testimonial__slide1 {
    position: relative;
    max-width: 28.75rem;
    background-color: var(--clr-white);
    border-radius: 0.625rem;
    padding: 1.8125rem 1.5rem;
  }

  
  .testimonial__slide-data {
    align-items: center;
    margin-right: 1rem;
    flex-wrap: wrap;
  }
  
  .testimonial__slide-img {
    width: 3.875rem;
    height: 3.875rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .testimonial__slide-name {
    margin-bottom: 0.5rem;
  }
  
  .testimonial__slide-subtitle {
    color: var(--clr-lightGray);
  }
  
  .testimonial__slide-stars {
    padding: 1rem 0 0 0;
  }
  
  .testimonial__description {
    font-size: 1rem;
  }
  
  .testimonial__footer {
    text-align: center;
  }
  
  /* Team */
  /* .team {
  } */

  .team{
    position: relative;
  }
  .team::before{

    content: '';
    position: absolute;
    inset: 0;
    background-image: url('/res/ethart.png');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.1;
    box-shadow: 0 11.25rem 3.75rem var(--clr-body) inset;
    
  }
  .textbox1{

    height: 400px;
    position: relative;
    border-radius: 1.25rem;
    background-color: var(--clr-ethblue);

  }

  .textbox1:hover{
    background-color: var(--clr-primary);
  }
  .textbox2:hover{
    background-color: purple;
  }
  .textbox3:hover{
    background-color: lightblue;
  }

  .textbox2{
    height: 400px;
    position: relative;
    border-radius: 1.25rem;
    background-color: var(--clr-ethpurple);
  }

  .textbox3{

    
    height: 400px;
    position: relative;
    border-radius: 1.25rem;
    background: blur(1.5rem);
    background-color: var(--clr-ethlblue);

  }

  
  

  .team__wrapper h2{
  
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    top: 50px;
    left: 0px;
    transform: translate(0,50%);
    text-align: center;
  }
  .team__wrapper p{
  
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
    position: relative;
    top: 20px;
    left: 0px;
    transform: translate(0,50%);
  
  }
  
  .team__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 21.875rem), 1fr));
    gap: 1.5rem;
  }
  
  .team__member {
    position: relative;
    border-radius: 1.25rem;
  }
  
  .member__image {
    width: 100%;
    height: 26.25rem;
    object-fit: cover;
    border-radius: inherit;
  }
  
  .member__info {
    padding: 1.5rem 0 1rem;
    text-align: center;
  }
  
  .member__title {
    font-size: var(--fs-big);
    font-weight: var(--fw-medium);
    margin-bottom: 0.5rem;
  }
  
  .member__designation {
    font-size: var(--fs-medium);
    color: var(--clr-lightGray);
  }
  
  /* Footer */
  .footer {
    background-color: var(--clr-white);
    position: relative;
    top: 150px;
    padding-top: clamp(2rem, 10vw, 5rem);
    padding-bottom: clamp(2rem, 10vw, 5rem);
  }
  
  .footer__container {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .footer__header {
    flex-direction: column;
    justify-content: space-between;
  }
  
  .footer__inner {
    flex-wrap: wrap;
    gap: 1rem clamp(2rem, 7vw, 6.25rem);
  }
  
  .footer__brand {
    display: inline-block;
    width: max-content;
    font-size: clamp(var(--fs-big), 4vw + 0.5rem, 2rem);
    font-weight: var(--fw-black);
    color: var(--clr-black);
  }
  
  .footer__social-icons {
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
  }
  
  .social-icons__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.125rem;
    height: 3.125rem;
    font-size: 1.75rem;
    background-color: var(--clr-social-icon);
    color: var(--clr-gray);
    border-radius: 0.625rem;
    transition: none 300ms ease-in-out;
    transition-property: opacity, color, box-shadow;
  }
  
  .social-icons__link--dribbble:hover {
    color: var(--clr-dribbble);
    border-color: currentColor;
  }
  .social-icons__link--facebook:hover {
    color: var(--clr-facebook);
    border-color: currentColor;
  }
  .social-icons__link--twitter:hover {
    color: var(--clr-twitter);
    border-color: currentColor;
  }
  .social-icons__link--youtube:hover {
    color: var(--clr-youtube);
    border-color: currentColor;
  }
  
  .social-icons__link:hover {
    opacity: 0.8;
  }
  
  .list__title {
    font-size: var(--fs-bold);
    font-weight: var(--fw-semiBold);
    margin-bottom: clamp(1rem, 5vw, 1.5rem);
  }
  
  .list__item:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  
  .list__link {
    display: inline-block;
    font-weight: var(--fw-regular);
    font-size: var(--fs-medium);
    color: var(--clr-lightGray);
    transition: transform 300ms ease-in-out;
  }
  
  .list__link:hover {
    transform: translateX(0.2rem);
  }
  
  .footer__text {
    color: var(--clr-gray);
  }

  
  
  /* :D */