<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylehoverbox.css" />
    <title>prefs</title>
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img
                        src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true">
                    <h3>Crypto Trader</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Traders, trade away with more powerful tools and useful information!</p>
                    <a href="#">Choose</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img
                        src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/code_128.png?raw=true">
                    <h3>Blockchain Developer</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Useful libraries for ethereum based blockchain developers</p>
                    <a href="#">Choose</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img
                        src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/launch_128.png?raw=true">
                    <h3>Blockchain Analyst</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>This library intends to find information relative to a blockchain analyst</p>
                    <a href="#">Choose</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img
                        src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/launch_128.png?raw=true">
                    <h3>Crypto Newbie</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Dont know where to start? Dont worry! This library has got your back.</p>
                    <a href="#">Choose</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>