<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styletrade.css">



    <title>Traders</title>
</head>

<body>
    <!-- Header -->
    <header id="header" class="header">
        <div class="header__container container container--px">
            <nav class="navbar flex">
                <a href="#" class="navbar__brand" title="Back to the homepage">Ethereum</a>

                <button id="toggleMenuBtn" class="navbar__toggle-menu toggle-menu" type="button" aria-haspopup="true"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <div class="toggle-menu__hamburger hamburger" aria-hidden="true">
                        <div class="hamburger__item"></div>
                        <div class="hamburger__item"></div>
                        <div class="hamburger__item"></div>
                    </div>
                </button>



                <ul id="menuList" class="navbar__menu menu" role="menu">

                    <li class="menu__item" role="none">
                        <a href="#" class="menu__link menu__link--active" role="menuitem">Home</a>
                    </li>
                    <li class="menu__item" role="none">
                        <a href="#" class="menu__link" role="menuitem">Library</a>
                    </li>
                    <li class="menu__item" role="none">
                        <a href="#" class="menu__link" role="menuitem">Contribute</a>
                    </li>
                    <li class="menu__item" role="none">
                        <a href="#" class="menu__link" role="menuitem">FAQs</a>
                    </li>
                    <li class="menu__item" role="none">
                        <a href="#" class="menu__link" role="menuitem">About</a>
                    </li>

                </ul>
            </nav>

            <div id="overlayLayer" class="header__overlay"></div>
        </div>
    </header>
    <section class="hero">
        <div class="hero__container container container--px flex">
            <div class="hero__text">
                <h1 class="hero__title">Ether Price<br>$ <span class="hero__title-underline">3116.67</span> </h1>
                <p class="hero__paragraph">Unlock the key to your fortune, <br> Know everything about ethereum!
                </p>
                <a href="#" class="hero__cta cta cta--primary">Get Ether</a>

            </div>

            <div class="hero__image-wrapper">
                <img src="/res/30-306189_rocket-transparent-background-rocket-svg.png" alt="Hand Holding Joystick"
                    class="hero__image">
            </div>
        </div>
    </section>
    <!-- Features -->
    <section class="features">
        <div class="features__container container container--px">
            <div class="features__text">
                <h1 class="features__subtitle subtitle-primary">Top Tokens</h1>
                <h2 class="features__title title-primary">E<span class="hero__title-underline">xplore</span></h2>
            </div>
        </div>

        <div class="tableism">
            <div>
                <section class="table">
                    <div class="tbl-header">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <thead>
                                <tr>
                                    <th>Coin</th>
                                    <th>Coin Name</th>
                                    <th>Price (USD)</th>
                                    <th>Change</th>
                                    <th>Change %</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="tbl-content">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                                <tr>
                                    <td>AAC</td>
                                    <td>AUSTRALIAN COMPANY </td>
                                    <td>$1.38</td>
                                    <td>+2.01</td>
                                    <td>-0.36%</td>
                                </tr>
                                <tr>
                                    <td>AAD</td>
                                    <td>AUSENCO</td>
                                    <td>$2.38</td>
                                    <td>-0.01</td>
                                    <td>-1.36%</td>
                                </tr>
                                <tr>
                                    <td>AAX</td>
                                    <td>ADELAIDE</td>
                                    <td>$3.22</td>
                                    <td>+0.01</td>
                                    <td>+1.36%</td>
                                </tr>
                                <tr>
                                    <td>XXD</td>
                                    <td>ADITYA BIRLA</td>
                                    <td>$1.02</td>
                                    <td>-1.01</td>
                                    <td>+2.36%</td>
                                </tr>
                                <tr>
                                    <td>AAC</td>
                                    <td>AUSTRALIAN COMPANY </td>
                                    <td>$1.38</td>
                                    <td>+2.01</td>
                                    <td>-0.36%</td>
                                </tr>
                                <tr>
                                    <td>AAD</td>
                                    <td>AUSENCO</td>
                                    <td>$2.38</td>
                                    <td>-0.01</td>
                                    <td>-1.36%</td>
                                </tr>
                                <tr>
                                    <td>AAX</td>
                                    <td>ADELAIDE</td>
                                    <td>$3.22</td>
                                    <td>+0.01</td>
                                    <td>+1.36%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <!-- Main -->
    <main class="main">
        <!-- Hero -->




        <!--NEWS-->
        <section class="features">
            <div class="features__container container container--px">
                <div class="features__text">
                    <h1 class="features__subtitle subtitle-primary">N E W S</h1>
                    <h2 class="features__title title-primary">This Weeks <span class="hero__title-underline">Tea.</span>
                    </h2>
                </div>
            </div>
        </section>

        <section class="testimonial">
            <div class="testimonial__container container container--px">

            </div>
        </section>

        <!-- Portfolio -->
        <section class="portfolio">
            <div class="portfolio__container container container--px">
                <div class="portfolio__text">
                    <h1 class="portfolio__subtitle subtitle-primary">Discover</h1>
                    <h2 class="portfolio__title title-primary">Explore Ethereum based on your preferences</h2>
                </div>

                <div class="portfolio__wrapper">
                    <div class="pcontainer">
                        <div class="card">
                            <div class="face face1">
                                <div class="content">
                                    <img src="/res/digital-wallet.png">
                                    <h3>Wallets</h3>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <p>Traders, trade away with more powerful tools and useful information!</p>
                                    <a href="#">Choose</a>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="face face1">
                                <div class="content">
                                    <img src="/res/currency-exchange.png">
                                    <h3>Exchanges</h3>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <p>Useful libraries for ethereum based blockchain developers</p>
                                    <a href="#">Choose</a>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="face face1">
                                <div class="content">
                                    <img src="/res/analyst-svgrepo-com.svg">
                                    <h3>NFT's</h3>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <p>This library intends to find information relative to a blockchain analyst</p>
                                    <a href="#">Choose</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </section>

    </main>

    <!--staking-->
    <section class="hero">
        <div class="hero__container container container--px flex">
            <div class="hero__text">
                <h1 class="hero__title">What is<br>S<span class="hero__title-underline">taking</span>?</h1>

                <p class="hero__paragraph">Deposit 32 Ether to become a validator node on the beacon chain and gain
                    rewards! Ethereum is inclining itself towards Proof-of-Stake. Staking pools are coming up, Staking
                    can be done without the need of running your own node with 32 Ether.
                </p>
                <form action="/appslider" method="POST">
                    <button class="hero__cta cta cta--primary">Check Out Staking Dapps</button>
                </form>
            </div>

            <div class="hero__image-wrapper">
                <img src="/res/Staker.png" alt="Hand Holding Joystick" class="hero1__image" id="bounce">
            </div>
        </div>

    </section>

    <!-- Testimonial -->
    <section class="testimonial1">
        <div class="testimonial__container container container--px">
            <div class="testimonial__header flex">
                <div class="testimonial__text">
                    <h1 class="subtitle-primary">Staking Dapps</h1>
                    <h2 class="title-primary">Top DeFi Apps That Might Catch Your Eye</h2>
                </div>

                <div class="testimonial__controls flex">
                    <button type="button" id="sliderPrevBtn"
                        class="testimonials__prev cta cta--btn cta--btn_gray disabled"
                        aria-label="Previous testimonial">
                        <svg class="cta--btn-icon" viewBox="0 0 14 11" aria-hidden="true" focusable='false'>
                            <path d="M13 5.5L1 5.5M1 5.5L5.5 10M1 5.5L5.5 1" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </button>

                    <button type="button" id="sliderNextBtn" class="testimonials__next cta cta--btn cta--btn_yellow"
                        aria-label="Next testimonial">
                        <svg class="cta--btn-icon" viewBox="0 0 14 11" aria-hidden="true" focusable='false'>
                            <path d="M1 5.5L13 5.5M13 5.5L8.5 1M13 5.5L8.5 10" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </button>
                </div>
            </div>

            <div class="testimonial__wrapper">
                <div id="sliderArea" class="testimonial__slider flex">
                    <div class="testimonial__slide">
                        <div class="testimonial__slide-header flex">
                            <div class="testimonial__slide-data flex">
                                <img src="/res/aavwe.jfif" alt="testimonial user avatar" class="testimonial__slide-img">
                                <div class="testimonial__slide-info">
                                    <h3 class="testimonial__slide-name">Aave</h3>
                                    <span class="testimonial__slide-subtitle">DeFi Protocol</span>
                                </div>
                            </div>
                        </div>

                        <div class="testimonial__slide-body">
                            <p class="testimonial__slide-description">
                                Open Source and Non-Custodial protocol to earn interest on deposits and borrow
                            </p>
                        </div>
                    </div>

                    <div class="testimonial__slide">
                        <div class="testimonial__slide-header flex">
                            <div class="testimonial__slide-data flex">
                                <img src="/res/yearn-finance-yfi-logo.png" alt="testimonial user avatar"
                                    class="testimonial__slide-img">
                                <div class="testimonial__slide-info">
                                    <h3 class="testimonial__slide-name">Curve</h3>
                                    <span class="testimonial__slide-subtitle">Liquidity Pool</span>
                                </div>
                            </div>
                        </div>

                        <div class="testimonial__slide-body">
                            <p class="testimonial__slide-description">
                                Createing deep on-chain liquidity using advanced bonding curves. Curve is an exchange
                                liquidity pool on Ethereum.

                            </p>
                        </div>
                    </div>

                    <div class="testimonial__slide">
                        <div class="testimonial__slide-header flex">
                            <div class="testimonial__slide-data flex">
                                <img src="/res/AXIE-INFINITY-LOGO.png" alt="testimonial user avatar"
                                    class="testimonial__slide-img">
                                <div class="testimonial__slide-info">
                                    <h3 class="testimonial__slide-name">Axie Infinity</h3>
                                    <span class="testimonial__slide-subtitle">Games</span>
                                </div>
                            </div>
                        </div>

                        <div class="testimonial__slide-body">
                            <p class="testimonial__slide-description">
                                Battle ✨ Collect ⟠ Earn! Axie creates economic freedom for gamers. It's a blockchain
                                game based on the Ethereum blockchain
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="testimonial__footer">
                <form action="/appslider" method="POST">
                    <button class="testimonial__link cta cta--link">
                        See more Dapps
                        <svg class="testimonial__link__icon cta--link-icon" viewBox="0 0 17 14" aria-hidden="true"
                            focusable='false'>
                            <path d="M1 7.375L16 7.375M16 7.375L10.375 1.75M16 7.375L10.375 13" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </section>


    <!-- Footer (: -->
    <footer class="footer">
        <div class="footer__container container container--px flex">
            <div class="footer__header flex">
                <a href="#" class="footer__brand" title="Back to the homepage">Ethereum</a>

                <div class="footer__social-icons social-icons flex">
                    <a href="#" class="social-icons__link social-icons__link--dribbble">
                        <i class='bx bxl-dribbble'></i>
                        <span class="visually-hidden">Dribbble</span>
                    </a>
                    <a href="#" class="social-icons__link social-icons__link--facebook">
                        <i class='bx bxl-facebook'></i>
                        <span class="visually-hidden">Facebook</span>
                    </a>
                    <a href="#" class="social-icons__link social-icons__link--twitter">
                        <i class='bx bxl-twitter'></i>
                        <span class="visually-hidden">Twitter</span>
                    </a>
                    <a href="#" class="social-icons__link social-icons__link--youtube">
                        <i class='bx bxl-youtube'></i>
                        <span class="visually-hidden">YouTube</span>
                    </a>
                </div>
            </div>

            <nav class="footer__inner flex">
                <ul class="footer__list list" role="menu">
                    <h3 class="list__title">Home</h3>

                    <li class="list__item" role="none">
                        <a href="#" class="list__link" role="menuitem">Library</a>
                    </li>
                    <li class="list__item" role="none">
                        <a href="#" class="list__link" role="menuitem">Explore</a>
                    </li>
                    <li class="list__item" role="none">
                        <a href="#" class="list__link" role="menuitem">Discover</a>
                    </li>

                </ul>
                <ul class="footer__list list" role="menu">
                    <h3 class="list__title">Pages</h3>

                    <li class="list__item" role="none">
                        <a href="#" class="list__link" role="menuitem">About Us</a>
                    </li>
                    <li class="list__item" role="none">
                        <a href="#" class="list__link" role="menuitem">Careers</a>
                    </li>
                    <li class="list__item" role="none">
                        <a href="#" class="list__link" role="menuitem">Case Studies</a>
                    </li>
                    <li class="list__item" role="none">
                        <a href="#" class="list__link" role="menuitem">Pricing</a>
                    </li>
                </ul>
                <ul class="footer__list list" role="menu">
                    <h3 class="list__title">Blog</h3>

                    <li class="list__item" role="none">
                        <a href="#" class="list__link" role="menuitem">Blog Listing</a>
                    </li>
                    <li class="list__item" role="none">
                        <a href="#" class="list__link" role="menuitem">Blog Article</a>
                    </li>
                    <li class="list__item" role="none">
                        <a href="#" class="list__link" role="menuitem">Newsroom</a>
                    </li>
                </ul>
                <ul class="footer__list list" role="menu">
                    <h3 class="list__title">Portfolio</h3>

                    <li class="list__item" role="none">
                        <a href="#" class="list__link" role="menuitem">Portfolio</a>
                    </li>
                    <li class="list__item" role="none">
                        <a href="#" class="list__link" role="menuitem">Single Case</a>
                    </li>
                </ul>
            </nav>

            <p class="footer__text">© Ethereum</p>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/scripts/scripts.js"></script>
    <script src="/scripts/news.js"></script>
    <script src="/scripts/appslider2.js"></script>



</body>

</html>